@import url(font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none;
}

body, input, select, textarea {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-size: 13pt;
    font-weight: 400;
}

ul {
    list-style-type: none;
    margin: auto;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px ;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
    cursor: pointer;
  }

  .myButton{
      background-color: #03DAC6;
      text-align: center;
      width: 100%;
      display: block;
      border-radius: 8px;
      height: 50px;
      font-weight: 900;
      color: #333;
      border: none;
  }
  .myButton:hover {
      background-color: #00a19f;
      cursor: pointer;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }

  #gamecanvas {
    border:1px solid #d3d3d3;
    background-image: url("../images/map.png");
  }

  .deleteButton{
      background-color: #d50000;
      text-align: center;
      width: 100%;
      display: block;
      border-radius: 8px;
      height: 50px;
      font-weight: 900;
      color: #333;
      border: none;
  }
  .deleteButton:hover {
    background-color: #e04141;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

  @keyframes shadowAnimation {
    from {box-shadow: 0px 0px #888888;}
    to {box-shadow: 3px 6px #888888;}
  }

  .radio {
      display: block;
  }

  .request{
      
      margin-top:10px;
      margin-bottom: 10px;
      display: table;
  }

  .row2{
      display: flex;
      flex-wrap: wrap;
      margin:auto;
      text-align: center;
  }

  .listArea {
      height: auto;
      resize: none;
      border: none;
      user-select: none;
  }

  .accepted{
      padding-top: 16px;
      padding-bottom: 16px;
  }

  #addNewButton{
        width: 100px;
        height: 100px;
        border-radius: 100%;
        position: fixed;
        bottom: 2%;
        right: 2%
  }

  #addNewButton:hover{
    transform: scale(1.10);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.requestEdge{
    border: solid black 2px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
}

.accDiv{
    padding: 8px;
    border:green solid 2px !important;
}

#myChart{
    margin:20px;
}