<label style="color:red">{{error}}</label>
<h1>Prijava</h1>
<form action="login" method="post">
    <input class="form-control" type="text" id="email" placeholder="email" required><br>
    <input class="form-control" type="password" id="password" placeholder="Password" required><br>
    <input type="button" class="btn btn-info form-control" value="Login" onclick="login()">
</form>


<script>


    function login() {
        var email = document.getElementById("email").value;
        var password = document.getElementById("password").value;
        
        firebase.auth().signInWithEmailAndPassword(email, password)
            .then(function(success) {
                console.log(success);
                window.location.href = "http://localhost:3000/";
        })
            .catch(function(error) {
        // Handle Errors here.
        var errorCode = error.code;
        var errorMessage = error.message;
        if (errorCode === 'auth/wrong-password') {
            alert('Wrong password.');
        } else {
            alert(errorMessage);
        }
        console.log(error);
        });
    }

    
</script>