<h2>Registracija</h2>
<form action="/users" method="post">
    <input class="form-control" type="text" id="email" placeholder="Email" required><br>
    <input class="form-control" type="password" id="password" placeholder="Password" required><br>
    <input class="form-control" type="repPassword" id="repPassword" placeholder="Repeat Password" required><br>
    <input class="form-control btn btn-info" type="button" value="Register" onclick="register()">
</form>

<script>
    function register() {
        var email = document.getElementById("email").value;
        var password = document.getElementById("password").value;
        
        firebase.auth().createUserWithEmailAndPassword (email, password)
            .then(function(success) {
                console.log(success);
                window.location.href = "http://localhost:3000/";
        })
            .catch(function(error) {
        // Handle Errors here.
        var errorCode = error.code;
        var errorMessage = error.message;
        if (errorCode == 'auth/weak-password') {
    alert('The password is too weak.');
        } else {
            alert(errorMessage);
        }
        console.log(error);
        });
    }
</script>
