<!-- One -->
<section id="one" class="wrapper style1">
    <div class="container 75%">
        <div class="row 200%">
            <div class="6u 12u$(medium)">
                <header class="major">
                    <h2 style="color: black;">Stay positive, test negative and drink coffee to go!</h2>
                    <p>Where people (and bots) help people</p>
                </header>
            </div>
            <div class="6u$ 12u$(medium)">
                <p>This website was established to foster a community of people who collaborate and help each other in tasks 
                    such as shopping. It also serves as a central point for all information regarding the coronavirus pandemic. 
                    We want to help people get through this crisis stronger, and together.</p>
                <p>For any additional information, or you want to give us feedback, feel free to contact us @NePozabiNaDruge on all social media.</p>
            </div>
            <div class="6u$ 12u$(medium)">
                <canvas id="myChart" width="400" height="400"></canvas>

            </div>
        </div>
    </div>
</section>
<script src="js/Chart.js"></script>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['6 days ago', '5 days ago', '4 days ago', '3 days ago', '2 days ago', 'yesterday'],
            datasets: [{
                label: '# of confirmed COVID-19 cases in Slovenia',
                data: [1564, 1686, 2026, 1176, 557, 1342],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    getData();

    var last6days = [];
    function getData() {
    return fetch("https://api.covid19api.com/country/slovenia/status/confirmed")
        .then(response => response.json())
        .then(data => {
            for(var i=data.length-1;i>data.length-7;i--)
                last6days.push(data[i].Cases-data[i-1].Cases);

            myChart.data.datasets.forEach((dataset) => {
                dataset.data.push(data);
            });
        })
        .catch(error => {
            console.log(error);
        })
}
</script>