<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  {{!-- <link rel='stylesheet' href='/stylesheets/style.css' /> --}}
  <link rel='stylesheet' href='/stylesheets/myStyle.css' />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link href="../../stylesheets/bootstrap.min.css" type="text/css" rel="stylesheet">
  <!-- Swipe core CSS -->
  <link href="../../stylesheets/swipe.min.css" type="text/css" rel="stylesheet">

</head>

<body>
  <header id="header" class="alt">
    <nav id="nav">
      <ul>
        <li style="float: left;"><a href="../../">#NePozabiNaDruge</a></li>
        
        <li><a href="../../"><i class="fa fa-home" aria-hidden="true"></i></a></li>
        <li><a id="logout" href="javascript:void(0);" onclick="logout();">Logout</a></li>
        <li><a id="login" href="../../users/login">Login</a></li>
        <li><a id="register" href="../../users/register">Register</a></li>
        <li><a id="requests" href="../../request/list">Requests</a></li>
        <li><a href="../../bot/showchat">Chat Bot</a></li>
        <li><a href="../../minigames/chase">Chase</a></li>
      </ul>
    </nav>
  </header>
  <div class="container" style="width: 70%;">
  {{{body}}}
  </div>
  <script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-firestore.js"></script>
  <script>
    var firebaseConfig = {
      apiKey: "AIzaSyCy4I8vK968QoIV1QvWA4UzHG9A2o1vyNE",
      authDomain: "nepozabinadruge.firebaseapp.com",
      databaseURL: "https://nepozabinadruge.firebaseio.com",
      projectId: "nepozabinadruge",
      storageBucket: "nepozabinadruge.appspot.com",
      messagingSenderId: "578222346888",
      appId: "1:578222346888:web:2a43be816fe6a2dd44453d"
    };

    // Initialize Firebase
    if (firebase.apps.length === 0) {
      firebase.initializeApp(firebaseConfig);
    }

    function logout() {
      firebase.auth().signOut()
        .then(function (success) {
          eraseCookie("user");
          eraseCookie("userId");
          window.location.href = "http://localhost:3000/";
        })
        .catch(function (error) {
          // Handle Errors here.
          console.log(error);
        });
    }


    function getCookie(name) {
      var nameEQ = name + "=";
      var ca = document.cookie.split(';');
      for (var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') c = c.substring(1, c.length);
        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
      }
      return null;
    }
    function eraseCookie(name) {
      document.cookie = name + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    }

    if (getCookie("user")) {
      document.getElementById("login").style.visibility = "hidden";
      document.getElementById("register").style.visibility = "hidden";
    }
    else {
      document.getElementById("logout").style.visibility = "hidden";
      document.getElementById("requests").style.visibility = "hidden";
    }
  </script>
</body>

</html>