<meta charset="utf-8">
<meta name="description" content="#">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap core CSS -->
<link href="../../stylesheets/bootstrap.min.css" type="text/css" rel="stylesheet">
<!-- Swipe core CSS -->
<link href="../../stylesheets/swipe.min.css" type="text/css" rel="stylesheet">
<main>
    <div class="layout">
        <!-- End of Create Chat -->
        <div class="main" style="height:auto">
            <div class="tab-content" id="nav-tabContent">
                <!-- Start of Babble -->
                <div class="babble tab-pane fade active show" id="list-chat" role="tabpanel"
                    aria-labelledby="list-chat-list">
                    <!-- Start of Chat -->
                    <div class="chat" id="chat1">
                        <div class="top">
                            <div class="container">
                                <div class="col-md-12">
                                    <div class="inside">
                                        <a href="#"><img class="avatar-md" src="../../images/jelko.jpeg"
                                                data-toggle="tooltip" data-placement="top" title="Keith"
                                                alt="avatar"></a>
                                        <div class="data">
                                            <h5><a href="#">Jelko</a></h5>
                                            <span>State speaker</span>
                                        </div>
                                        <button class="btn d-md-block d-none" style="margin-right: 0px"><i
                                                class="material-icons md-30">info</i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content" id="content" style="height: calc(100vh - 308px)">
                            <div class="container">
                                <div class="col-md-12 timeline">
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="col-md-12">
                                <div class="bottom" style="padding: 0px; padding-top: 25px">
                                    <form id="message_input" class="position-relative w-100">
                                        <textarea id="message_text" class="form-control" placeholder="Start typing for reply..." rows="1"
                                            style="padding-left: 20px"></textarea>
                                        <button type="submit" class="btn send"><i
                                                class="material-icons">send</i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End of Chat -->
                </div>
                <!-- End of Babble -->
            </div>
        </div>
    </div> <!-- Layout -->
</main>
<script src="../../js/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="dist/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../js/vendor/popper.min.js"></script>
<script src="../../js/swipe.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/chatbot.js"></script>
<script src="//unpkg.com/string-similarity/umd/string-similarity.min.js"></script>
<script>
    function scrollToBottom(el) {
         document.getElementById('content').scrollTop = document.getElementById('content').scrollHeight; 
    }
    function getTime(){
        var now = new Date(Date.now());
        var formatted = now.getHours() + ":" + now.getMinutes();
        // 20:10:58
        return formatted;
    }
    function postMeMessage(text) {
        var message = `<div class="message me">
                                        <div class="text-main">
                                            <div class="text-group me">
                                                <div class="text me">
                                                    <p>`+text+`</p>
                                                </div>
                                            </div>
                                            <span>`+getTime()+`</span>
                                        </div>
                                    </div>`;
        $(".timeline").append(message);
        scrollToBottom();
    }
    function showWriting(){
        console.log("writing");
        var message = `<div class="message writing">
                            <img class="avatar-md" src="../../images/jelko.jpeg" data-toggle="tooltip"
                                data-placement="top" title="Keith" alt="avatar">
                            <div class="text-main">
                                <div class="text-group">
                                    <div class="text typing">
                                        <div class="wave">
                                            <span class="dot"></span>
                                            <span class="dot"></span>
                                            <span class="dot"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>`
        $(".timeline").append(message);
        setTimeout(function() {
            $('.writing').hide('slow', function(){ $('.writing').remove(); });
        }, 1000);
    }
    function postBotMessage(text) {
        var message = `<div class="message">
                            <img class="avatar-md" src="../../images/jelko.jpeg" data-toggle="tooltip" data-placement="top" title="Keith" alt="avatar">
                            <div class="text-main">
                                <div class="text-group">
                                    <div class="text">
                                        <p>`+text+`</p>
                                        </div>
                                    </div>
                                <span>`+getTime()+`</span>
                            </div>
                        </div>`;
        showWriting();
        setTimeout(function() {
            $(".timeline").append(message);
        }, 1000);
        scrollToBottom();
    }
    $(document).ready(function () {
        postBotMessage(escapeHtml("Greetings citizen"));
        console.log("greetings")
    });

    function escapeHtml (string) {
        var entityMap = {
            '&': '&amp;',
            '<': '&lt;',
            '>': '&gt;',
            '"': '&quot;',
            "'": '&#39;',
            '/': '&#x2F;',
            '`': '&#x60;',
            '=': '&#x3D;'
        };
        return String(string).replace(/[&<>"'`=\/]/g, function (s) {
            return entityMap[s];
        });
    }
    $("#message_input").submit(function(e){
        e.preventDefault();
        console.log("form submitted");
        var message = $("#message_text").val();
        $("#message_text").val("");
        console.log(message);
        postMeMessage(escapeHtml(message));
        var response = readMessage(message)
        console.log(response);
        if(response instanceof Promise){
            console.log("promise");
            response.then(response => postBotMessage(response));
        }
        else{
            postBotMessage(response);
        }
        
        
    });
</script>