
<h2>Request list</h2>
<div id="requestList" class="row2 requestList"></div>
<hr/>
<h2>My requests</h2>
<div id="myRequestList" class="row2 requestList"></div>
<a href="../../request/add"> <button type="button" class="myButton" style="margin: auto;" id = "addNewButton">Add new request</button></a>

<script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-firestore.js"></script>
<script>
    // Initialize Cloud Firestore through Firebase
    firebase.initializeApp({
        apiKey: 'AIzaSyCy4I8vK968QoIV1QvWA4UzHG9A2o1vyNE',
        authDomain: 'nepozabinadruge.firebaseapp.com',
        projectId: 'nepozabinadruge'
    });

    var db = firebase.firestore();
    var element = document.getElementById("requestList");
    var myElement = document.getElementById("myRequestList");
    var array= [];
    var arrayIds= [];
    db.collection("requests").get().then((querySnapshot) => {
        //array = querySnapshot;
        querySnapshot.forEach((doc) => {
            array.push(doc.data())
            arrayIds.push(doc.id)
            var data = '<div class="request col-4" > <div class="requestEdge';
            if(doc.data().isAccepted){
                data+=' accDiv';
            }
            data+='">'
            //data+='<div onclick="deleteEntry(`';
            //data+=`${doc.id}`;
            //data+='`)"><i class="fa fa-trash"></i></div>';
            data+='<textarea readonly class="listArea" rows="6">';
            data+= `${doc.data().requestText}`;
            data+='</textarea ><br/> <span> Address: <b>';
            data+= `${doc.data().address}`;
            data+='</b></span>'
            if(doc.data().isAccepted){
                data+='<br/><div class="accepted">Request is already accepted</div>'
            }
            else{
                data+='<button class="myButton acceptButton" onclick="update(`'
                data+= `${doc.id}`;
                data+='`)">I will do it</button>'
            }
            data+='</div></div>'
            if(doc.data().userId == getCookie("userId")) {
                data = data.replace("myButton", "deleteButton");
                data = data.replace("I will do it", "Delete");
                myElement.insertAdjacentHTML("beforeend", data);
            }
            else element.insertAdjacentHTML("beforeend", data);
        });
    });

    function update(rowId){
        var user;
        for(var i=0;i<arrayIds.length;i++){
            if(arrayIds[i]==rowId){
                user = array[i].userId;
            }
        }
        if(getCookie(userId)==doc.data().userId){
            db.collection("requests").doc(rowId).delete().then(function() {
            }).catch(function(error) {
                console.error("Error removing document: ", error);
            });
        }
        else{
            db.collection("requests").doc(rowId).update({isAccepted: true});
        }
    }

    function getCookie(name) {
      var nameEQ = name + "=";
      var ca = document.cookie.split(';');
      for (var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') c = c.substring(1, c.length);
        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
      }
      return null;
    }

</script>
