<h2>New request</h2>
<form action="/request" method="post">
    <input class="form-control" type="textarea" rows="10" cols="30" name="request" placeholder="Request" required><br>
    <input class="form-control btn btn-info" type="submit" value="Add request">
</form>